extends ./layout.jade

block content
        header
          .header-content
            .header-content-inner
              h1 Let teachers teach.
              |                 
              hr
              |                 
              p
                | Smash Learning removes the paperwork from teaching. Use our pre approved by OFSTED lesson plans and let us generate your reports and target grades for you. So you can get back to enjoying teaching.
              |                 
              a.btn.btn-primary.btn-xl.page-scroll(href='#about') Sign up now!
        |     
        section#about.bg-primary
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading About us.
                |                     
                hr.light
                |                     
                p.text-faded
                  | Developed by teachers and learning technologists to resolve the problems of modern teaching. We provide you with the lesson plans and resources needed to teach every lesson every year. We provide a marking solution which will automatically generate target grades and student reports. Allowing you to spend your time helping students and teaching great lessons!
                |                     
                a.btn.btn-default.btn-xl(href='#pricing') Pricing!
        |     
        section#services
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading Powerful tech, at your finger tips.
                |                     
                hr.primary
          |         
          .container
            .row
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                  |                         
                  h3 Student Reports
                  |                         
                  p.text-muted Easily input your workout data, straight from your mobile device.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                  |                         
                  h3 Target Grades
                  |                         
                  p.text-muted Custom analytics, just for you.  Analyze past results, predict future performance.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                  |                         
                  h3 Lesson Plans
                  |                         
                  p.text-muted Your next workout is waiting.  Set goals, and access metrics right from the gym.
              |                 
              .col-lg-3.col-md-6.text-center
                .service-box
                  i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                  |                         
                  h3 Ofsted Ready
                  |                         
                  p.text-muted We protect your data with the utmost integrity.  Your privacy is our priority.
        |     
        aside.bg-dark
          .container.text-center
            .call-to-action
              h2 Who have we helped so far?
              |                 
              a.btn.btn-default.btn-xl.wow.tada(href='#') Start your free trial!
        | 
        section#portfolio.no-padding
          .container-fluid
            .row.no-gutter
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/1.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Endurance Athlete
                      |                                 
                      .project-name
                        | Marge Simpson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/2.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Weight Lifter
                      |                                 
                      .project-name
                        | Jack Johnson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/3.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Endurance Athlete
                      |                                 
                      .project-name
                        | Reda Niman
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/4.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | CrossFitter
                      |                                 
                      .project-name
                        | Magnus Jorgenson
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/5.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | Weight Lifter
                      |                                 
                      .project-name
                        | Liz Vasques
              |                 
              .col-lg-4.col-sm-6
                a.portfolio-box(href='#')
                  img.img-responsive(src='/static/img/portfolio/6.jpg', alt='')
                  |                         
                  .portfolio-box-caption
                    .portfolio-box-caption-content
                      .project-category.text-faded
                        | CrossFitter
                      |                                 
                      .project-name
                        | Fit Fittington
        |         
        section#contact
          .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Get in touch!
                |                     
                hr.primary
                |                     
                p
                  | We would love to hear from you, give us a call or send us a message.
              |                 
              .col-lg-4.col-lg-offset-2.text-center
                i.fa.fa-phone.fa-3x.wow.bounceIn
                |                     
                p 0121 do one
              |                 
              .col-lg-4.text-center
                i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                |                     
                p
                  a(href='mailto:gburton85@gmail.com') Email Smash!
