doctype html
html(lang="en")
    include ./partials/_head.jade
    
    body#page-top
      include ./partials/_nav.jade
      block content


        script(src='/static/js/jquery.js')
            //bootstrap
        script(src='/static/js/bootstrap.min.js')
            //plugins
        script(src='/static/js/jquery.easing.min.js')
        script(src='/static/js/jquery.fittext.js')
        script(src='/static/js/wow.min.js')
            //custom
        script(src='/static/js/creative.js')