nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          |                     
          span.icon-bar
          |                     
          span.icon-bar
          |                     
          span.icon-bar
        |                 
        a.navbar-brand.page-scroll(href='/') Smash Learning
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
              a(href='/studentHome') Students
          li
              a(href='/teacherHome') Teachers
          if path === '/'
            li
                a.page-scroll(href='#about') About
                                 
            li
                a.page-scroll(href='#pricing') Pricing
            |                     
            li
                a.page-scroll(href='#portfolio') Portfolio
            |                     
            li
                a.page-scroll(href='#contact') Contact
            // /.navbar-collapse
            // /.container-fluid   